* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.box {
  margin: 10px;
  border: solid 3px black;
  border-radius: 10px;
  padding: 10px;
  width: 450px;
}

.position {
  text-align: center;
}

.description {
  text-align: center;
  padding: 10px;
}